*.class
*.properties
*.gitignore
*Test.xml
*.jar
*.build
*.properties
*.netbeans_automatic_build
*.netbeans_update_resources
*.eap
*build.xml
Ordering System Version N/build/
Ordering System Version N/nbproject/
OrderingSystem/build/
OrderingSystem/dist/
OrderingSystem/nbproject/
Basurahan

